
.icon-cog:before { content: '\e801'; } /* '' */
.icon-tree-1:before { content: '\e80c'; } /* '' */
.icon-user:before { content: '\e804'; } /* '' */
.icon-bar:before { content: '\e80b'; } /* '' */
.icon-bicycle:before { content: '\e805'; } /* '' */
.icon-bus:before { content: '\e806'; } /* '' */
.icon-info:before { content: '\e800'; } /* '' */
.icon-embassy:before { content: '\e808'; } /* '' */
.icon-fuel:before { content: '\e80e'; } /* '' */
.icon-pitch:before { content: '\e80a'; } /* '' */
.icon-restaurant:before { content: '\e807'; } /* '' */
.icon-shop:before { content: '\e80d'; } /* '' */
.icon-cinema:before { content: '\e809'; } /* '' */